body{
    display: grid;
    grid-template-areas: "sidebar content";
}

.sidebar{
    background-color: aqua;
}

img{
    height: 100vh;
    width: auto;
}

.content{
    background-color: antiquewhite;
    height: 100vh;
    width: 60vh
}

form{
    background-color: aquamarine;
}